.header {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 999;
}

nav {
    position: fixed;
    top: 50%;
    right: 50px;
    transform: translate(0, -50%);
    z-index: 999;
}

nav li a {
    position: relative;
    display: block;
    width: 100px;
    height: 30px;
    font-size: 0;
}

nav li a::after {
    content: "";
    position: absolute;
    top: 15px;
    right: 0;
    width: 10px;
    height: 10px;
    background: #fff;
    transition: 0.5s;
    border-radius: 50%;


}

nav li.on a::after {
    background: #000;
}

.section figure {
    position: relative;
    width: 100vw;
    overflow: hidden;
    opacity: 0;

    transition: 0.5s 1s;
}

.section.on figure {
    opacity: 1;
}

.section figure img {
    width: 100%;
}

.section h2 {
    text-align: center;
    opacity: 0;
    transform: translate(100px, 0);
    transition: 0.5s 1.5s;
}

.section.on h2 {
    text-align: center;
    transform: translate(0, 0);
    opacity: 1;
}

.section p {
    text-align: center;
    opacity: 0;
    transform: translate(-100px, 0);
    transition: 0.5s 2s;
}

.section.on p {
    text-align: center;
    transform: translate(0, 0);
    opacity: 1;
}